"*":
  "advanced-open-file":
    createFileInstantly: true
  "atom-alignment": {}
  "atom-beautify":
    _analyticsUserId: "b3295844-7c4c-4e86-a236-f1875799b174"
  "atom-ctags":
    cmdArgs: "--exclude=node_modules --exclude=components --exclude=bower_components --exclude=jspm_packages"
  "atom-material-ui":
    accentColor: "White"
    depth: true
    fontSize: "Big"
    panelContrast: true
    rippleAccentColor: true
  "atom-terminal-panel": {}
  "autocomplete-plus":
    minimumWordLength: 4
    strictMatching: true
  "autohide-tree-view":
    pushEditor: true
  "base16-syntax":
    scheme: "Ocean"
  calc:
    evaluateAllOnEmptySelection: false
  core:
    disabledPackages: [
      "autocomplete"
      "autohide-tree-view"
      "powerline"
      "language-objective-c"
      "archive-view"
      "language-clojure"
      "language-c"
      "language-csharp"
      "language-gfm"
      "language-go"
      "language-java"
      "language-perl"
      "language-python"
      "language-ruby"
      "language-ruby-on-rails"
      "welcome"
      "layout-manager"
      "file-type-icons"
      "wrap-guide"
      "smalls"
      "bottom-dock"
      "linter-jshint"
      "symbols-tree-view"
      "imdone-atom"
      "pigments"
    ]
    ignoredNames: [
      ".DS_Store"
      "bower_components"
      "node_modules"
      "build"
      "jspm_packages"
    ]
    packagesWithKeymapsDisabled: [
      "emmet"
    ]
    projectHome: "/Users/luismartins/Sites"
    themes: [
      "nucleus-dark-ui"
      "anodyne-dark-syntax"
    ]
  editor:
    fontFamily: "Hack"
    fontSize: 12
    invisibles: {}
    lineHeight: 2
    scrollPastEnd: true
    softWrap: true
    tabLength: 4
    tabType: "soft"
  emmet: {}
  "exception-reporting":
    userId: "bfa3285b-6dd3-edc4-e06e-c4ad0e14bab4"
  "expand-region": {}
  "file-icons":
    onChanges: true
  "git-plus": {}
  goto:
    moreIgnoredNames: "build, jspm_packages, node_modules, bower_components"
  "imdone-atom": {}
  "isotope-light-ui":
    customBackgroundColor: false
    fontFamily: "Fira Sans"
    fontWeight: "Regular"
  "isotope-ui":
    backgroundColor: "false"
    customBackgroundColorPicker:
      alpha: 1
      blue: 69
      green: 45
      red: 65
    fontFamily: "Fira Sans"
    fontWeight: "Regular"
    spaciousMode: true
  jumpy: {}
  "lazy-motion":
    showHoverIndicator: true
  linter:
    ignoredLinterErrors: [
      "jshint"
    ]
    lintOnChangeInterval: 2500
    showInfoMessages: true
    statusBar: "Show error if the cursor is in range"
    subtleLinterErrors: [
      "php"
    ]
  "linter-eslint":
    globalNodePath: "/usr/local"
    useGlobalEslint: true
  "linter-jscs": {}
  "linter-jshint": {}
  "linter-php": {}
  "markdown-preview":
    breakOnSingleNewline: true
  minimap:
    absoluteMode: true
    plugins:
      bookmarks: true
      codeglance: true
      cursorline: true
      "minimap-hide": true
      selection: true
    scrollAnimation: true
  "minimap-codeglance":
    decorations: false
    numberOfLines: 20
    showGutter: false
    showLineNumbers: false
  "nav-panel": {}
  "one-dark-ui":
    layoutMode: "Spacious"
  "php-debug": {}
  pigments:
    extendAutocompleteToVariables: true
    markerType: "dot"
  "recent-files-fuzzy-finder": {}
  "spell-check": {}
  "symbols-tree-view": {}
  "sync-settings":
    gistId: "9f8c9614aa0486a9e69d"
    personalAccessToken: "ba80e8922f593c1f307c51d74ca01074639ddf25"
  "takana-atom": {}
  term3:
    openPanesInSameSplit: true
  "terminal-panel": {}
  "todo-show":
    ignoreThesePaths: [
      "*/node_modules/"
      "*/build/"
      "*/jspm_packages/"
      "*/lib/"
    ]
  toggle: {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "vim-surround": {}
  welcome:
    showOnStartup: false
