# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/customizing-atom#customizing-key-bindings
# * https://atom.io/docs/latest/advanced/keymaps
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson

'body':
    'cmd-shift-w': 'pane:close-other-items'

'atom-text-editor':
    'cmd-shift-space' : 'expand-selection:expand'

'atom-workspace':
    'ctrl-shift-g' : 'git-control:toggle'

'atom-text-editor.vim-mode.command-mode':
  '-': 'toggle:there'

'atom-text-editor.vim-mode.command-mode':
  'space': 'editor:toggle-current-row-folding'
  'g f':      'open-this:here'
  'ctrl-w f': 'open-this:split-down'
  'ctrl-w F': 'open-this:split-right'
  'ctrl-k': 'editor:move-line-up'
  'ctrl-j': 'editor:move-line-down'

'atom-text-editor.vim-mode.visual-mode':
    'v': 'expand-region:expand'
    'V': 'expand-region:shrink'

'.platform-darwin .pane .editor:not(.mini)':
    'cmd-/': 'editor:toggle-line-comments'

'.platform-darwin':
    'shift-cmd-R': 'atom-ctags:toggle-project-symbols'

'.platform-darwin atom-text-editor:not([mini])':
    'shift-cmd-R': 'unset!'

'atom-text-editor:not([mini])':
    'ctrl-shift-R': 'unset!'

'.fuzzy-finder atom-text-editor[mini]':
  'ctrl-v': 'pane:split-right'
  'ctrl-s': 'pane:split-down'
