# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/customizing-atom#customizing-key-bindings
# * https://atom.io/docs/latest/advanced/keymaps
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson

'body':
    'cmd-shift-w': 'pane:close-other-items'
    'shift-cmd-ctrl-W': 'window:close'

'atom-workspace':
    'ctrl-i' : 'cursor-history:next'
    'ctrl-o' : 'cursor-history:prev'

'atom-workspace:not([mini])':
  'cmd-k x':         'paner:swap-item'
  'cmd-k X':         'paner:send-item'
  'cmd-alt-enter':       'paner:maximize'
  'cmd-k cmd-up':    'paner:very-top'
  'cmd-k cmd-down':  'paner:very-bottom'
  'cmd-k cmd-left':  'paner:very-left'
  'cmd-k cmd-right': 'paner:very-right'

'atom-text-editor':
    'alt-f12': 'php-debug:toggleDebugging'
    # expand region
    'alt-space': 'expand-region:expand'
    'alt-shift-space': 'expand-region:shrink'
    # inc
    'ctrl-up': 'inc:inc'
    'ctrl-down': 'inc:dec'

    # fast-duplicate
    'ctrl-alt-down': 'fast-duplicate:duplicate-down'
    'ctrl-alt-up': 'fast-duplicate:duplicate-up'


'atom-text-editor:not([mini])':
  'alt-up': 'indentation-jumper:up'
  'alt-down': 'indentation-jumper:down'
  'ctrl-alt-cmd-c': 'calc:replace'

# VIM MODES
'atom-text-editor.vim-mode:not(.insert-mode)':
    'space': 'editor:toggle-current-row-folding'
    'g f':      'open-this:here'
    'ctrl-w f': 'open-this:split-down'
    'ctrl-w F': 'open-this:split-right'

'atom-text-editor.vim-mode.normal-mode':
    ']': 'cursor-history:next'
    '[': 'cursor-history:prev'
    'ctrl-k'  : 'editor:move-line-up'
    'ctrl-j'  : 'editor:move-line-down'
    ', b': 'fuzzy-finder:toggle-buffer-finder'
    ', f': 'fuzzy-finder:toggle-file-finder'
    'cmd-x':     'paner:swap-item'
    'cmd-X':     'paner:send-item'
    'cmd-enter': 'paner:maximize'
    'cmd-K':     'paner:very-top'
    'cmd-J':     'paner:very-bottom'
    'cmd-H':     'paner:very-left'
    'cmd-L':     'paner:very-right'


'atom-text-editor.vim-mode.command-mode,
 atom-text-editor.vim-mode.normal-mode,
 atom-text-editor.vim-mode.visual-mode':
  's':           'lazy-motion:forward'
  'ctrl-p':      'lazy-motion:forward-again'

'atom-text-editor.vim-mode.visual-mode':
    'v'     : 'expand-region:expand'
    'V'     : 'expand-region:shrink'
    'ctrl-k': 'editor:move-line-up'
    'ctrl-j': 'editor:move-line-down'


# LAZY MOTION
'atom-text-editor.lazy-motion':
  ']':      'lazy-motion:forward'
  '[':      'lazy-motion:backward'
  ';':      'core:confirm'
  'ctrl-p': 'lazy-motion:set-history-prev'
  'ctrl-n': 'lazy-motion:set-history-next'
  'cmd-e':  'lazy-motion:set-cursor-word'

'.platform-darwin':
  'ctrl-shift-cmd-H': 'git-plus:menu'
